<div class="homeHeading">
  Software Developer Interview Test
</div>
<div class="homeContent">
  <div class="homeSubHeading">
    <div class="homeSubHeading1">
      Technology
    </div>

    <div class="homeSubHeading2">
      No. of Question
    </div>

    <div class="homeSubHeading3">
      &nbsp;
    </div>

  </div>

  <div class="homeFirstTest">
    <div class="homeFirstTestName">
      AngularJS Test
    </div>

    <div class="homeFirstTestNoQuestions">
      50
    </div>

    <div class="homeFirstTestButton">
      <button type="button" (click)="start()">Start Test</button>
    </div>

  </div>


  <div class="homeFirstTest">
    <div class="homeFirstTestName">
      JavaScript Test
    </div>

    <div class="homeFirstTestNoQuestions">
      20
    </div>

    <div class="homeFirstTestButton">
      <button type="button" (click)="start()">Start Test</button>
    </div>

  </div>


  <div class="homeFirstTest">
    <div class="homeFirstTestName">
      NodeJs Test
    </div>

    <div class="homeFirstTestNoQuestions">
      10
    </div>

    <div class="homeFirstTestButton">
      <button type="button" (click)="start()">Start Test</button>
    </div>

  </div>
</div>
